<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Lead</th>
      <th>Body</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.lead %></td>
        <td><%= truncate(article.body, length:1000) %></td>
        <td><%= article.link %></td>
        <td><%= link_to 'Show', article %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Admin', admin_getArticles_path %>
<%= link_to 'New Article', new_article_path %>
